argon2-cffi>=23.1.0
cryptography>=44.0.2
Flask>=3.0.3
Flask-JWT-Extended>=2.8.0
Flask-Limiter>=3.7.0
flask-cors>=4.0.1
PyMySQL>=1.1.1
requests>=2.32.3
waitress>=3.0.0
pytest>=8.3.5
python-dotenv>=1.0.1
flask-caching
redis
